@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Cabin'); 
 
@font-face  
{  
    font-family: 'Cabin', sans-serif; 
    src: url('https://fonts.googleapis.com/css?family=Cabin'); 
} 
 
body 
{ 
   	    font-family: Cabin; 
	    margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;     
        text-align: center;
        font-size: 1.2em;
        color: white;
}

#layer
{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-image:url("background.jpg");
    box-shadow: inset 0 0 0 100em rgba(0,0,0,0.3);
    z-index: -1;
}
a
{
    text-decoration: none;
    color: inherit;
}

.navigation
{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    background-color: rgba(0,0,0,0.9);
    color: white;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    padding : 1em ;
}


li
{
	width: 20%;
    margin-top: 0;
    display: block;
    text-decoration: none;
}

a:hover
{
	backgroung-color : white;
}

ul
{
	list-style-type: none;
}

#Table
{
	background-color: rgba(255,255,255,0.9);
}
#gameNameInTable
{
	display: block;
}
#gameDescriptionInTable
{
	
}
#gameDetailsInTable
{
	
}